# Archivos de compilación de CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Archivos de salida del proyecto
*.out
*.exe
*.dll
*.so
*.a
*.lib
*.obj
*.o

# Archivos de depuración
*.log
*.dSYM/
*.core
core*

# Archivos temporales del sistema o del editor
*.swp
*.swo
*.bak
*.tmp
*~

# Archivos de VSCode (si usas este editor)
.vscode/

# Archivos de JetBrains CLion
.idea/

# Archivos generados por valgrind
vgcore.*

# Archivos de configuración del sistema
.DS_Store

#Archivos de configuracion con informacion sensible (API keys etc)
config.json